<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WebAppMin 2015</title>
	<meta name="description" content="A web app, from 2015!">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico">
	<!--Dev only-->
	<link rel="stylesheet" href="assets/css/dev.css">
	<link rel="stylesheet" href="assets/css/global.css">
	<!--[if lt IE 10]>
	<link rel="stylesheet" href="assets/css/legacy.css">
	<script src="assets/js/dist/polyfill.js"></script>
	<![endif]-->
</head>
<body>
	<!--[if lt IE 10]>
		<div class="old-browser">
			<p>The browser you are using is out of date. You should <a href="http://browsehappy.com" rel="nofollow">upgrade your browser immediately</a>.</p>
		</div>
	<![endif]-->
